* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sono', sans-serif;
}

/* header */
header {
  width: 90%;
  margin: 0 auto;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  outline: none;
  background-color: #754be5;
  color: #fff;
  cursor: pointer;
}
/* header end */

/* cards */
.cards-container {
  margin-top: 24px;
}

.card {
  width: 90%;
  margin: 16px auto;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card:first-child {
  display: none;
}

.empty-text {
  width: 90%;
  margin: 0 auto;
}

.empty-text.hide {
  display: none;
}

.card input {
  border: none;
  outline: none;
}

.card .card-title {
  font-size: 24px;
  font-weight: bold;
}

.card button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  outline: none;
  background-color: #754be5;
  color: #fff;
  cursor: pointer;
}
/* cards end */
